<div class="container">
  <h1 class="text-center">Lotes para Leilão</h1>
  <div class="row">
    <% @products.each do |lot| %>
      <div class="col-md-3">
        <div class="card mb-4">
          <%= image_tag(lot.photo, class: "card-img-top", alt: "product image", style: "height: 100%; width: 100%; object-fit: cover;") %>
          <div class="card-body">
            <p class="card-text"><%= lot.description %></p>
            <%= link_to 'Dar Lance', lot, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>