<h1>Lista de Produtos</h1>
<div>
  <%= link_to '+ Novo Produto', new_product_path %>
</div>

</div>
  <% if @products.any? %> 

  <% @products.each do | product |%>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>

  <% else %>
    <p>Não existem produtos cadastrados.</p>
  <% end %>
</div>

